/**
 * ***************************************************************************
 * Copyright (c) 2010 Qcadoo Limited
 * Project: Qcadoo Framework
 * Version: 1.4
 *
 * This file is part of Qcadoo.
 *
 * Qcadoo is free software; you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation; either version 3 of the License,
 * or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 * ***************************************************************************
 */
.gridWrapper {
	padding: 10px;
}

.gridContainer {
	border: solid #9b9b9b 1px;
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
}

.gridContainer .gridHeader {
	background: #ccc;
	border-bottom: solid #9b9b9b 1px;
	text-align: left;
}

.gridContainer .gridFooter {
	background: #ccc;
	text-align: left;
}

.gridContainer .gridFooter .autoRefresh {
    color: #9b9b9b;
    font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-left: 10px;
    float: left;
}

.gridContainer .gridFooter .autoRefresh input {
    margin-right: 5px;
}

.gridContainer .gridFooter .autoRefresh .autoRefreshInterval {
    margin-left: 5px;
}

.gridContainer .grid_header .pageInput.inputError,.gridContainer .grid_footer .pageInput.inputError
	{
	border: solid red 1px;
}

.gridContainer .grid_header .grid_header_gridName {
	padding-left: 10px;
}

.gridContainer .grid_header .grid_header_totalNumberOfEntities {
	color: #9b9b9b;
	font-size: 12px;
	font-weight: normal;
	padding-left: 5px;
	margin-right: 10px;
}

.gridContainer .grid_paging {
	float: right;
	margin-right: 10px;
}

.gridContainer .grid_paging .grid_paging_pageInfo {
	
}

.gridContainer .grid_paging .grid_paging_pageInfo .component_container_form_w
	{
	position: relative;
	top: 0;
	left: 0;
}

.gridContainer .grid_footer {
	background: #f2f2f2;
	height: 30px;
	line-height: 30px;
	border-top: solid #9b9b9b 1px;
}

div.filterButton {
	
}

.grid_paging .onPageSpan {
	color: #9b9b9b;
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-right: 10px;
}

.grid_paging .recordsNoSelect {
	margin-right: 10px;
}

.grid_paging .ofPagesSpan {
	color: #686868;
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 5px;
	margin-right: 5px;
}

.grid_paging .component_container_form_w {
	width: 30px;
	margin-top: 0;
	background: white;
	padding-left: 0px;
	line-height: 18px;
}

.grid_paging input[type='text'] {
	border-spacing: 0;
	margin: 0;
	space: 0;
	color: #464646;
	height: 22px;
	width: 30px;
	font: 11px arial;
	vertical-align: middle;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-boder-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #959595;
	background: transparent
		url(/qcadooView/public/css/crud/images/form/input_c_transparent.png)
		no-repeat 0 0;
	padding-left: 6px;
}

.gridContainer .grid_header .headerPagingButton,.gridContainer .grid_footer .headerPagingButton
	{
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	background-repeat: no-repeat;
}

.gridContainer .grid_header .headerPagingButton.headerButtonEnabled,.gridContainer .grid_footer .headerPagingButton.headerButtonEnabled
	{
	cursor: pointer;
	background-position: 0px -26px;
}

.gridTable .grid_header .headerPagingButton.headerButtonEnabled:hover,.gridTable .grid_footer .headerPagingButton.headerButtonEnabled:hover
	{
	background-position: 0px -13px;
}

.gridContainer .grid_header .headerPagingButton,.gridContainer .grid_footer .headerPagingButton
	{
	cursor: default;
	background-position: 0px 0px;
}

.headerPagingButton.headerButton_first {
	background-image:
		url('/qcadooView/public/css/crud/images/grid/qcadoo_grid_arrows/arrow_first.png');
}

.headerPagingButton.headerButton_last {
	background-image:
		url('/qcadooView/public/css/crud/images/grid/qcadoo_grid_arrows/arrow_last.png');
}

.headerPagingButton.headerButton_left {
	background-image:
		url('/qcadooView/public/css/crud/images/grid/qcadoo_grid_arrows/arrow_left.png');
}

.headerPagingButton.headerButton_right {
	background-image:
		url('/qcadooView/public/css/crud/images/grid/qcadoo_grid_arrows/arrow_right.png');
}

.gridContainer .ui-jqgrid-bdiv {
	background: #fbfbfb;
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.gridContainer .ui-widget-content {
	color: #555555;
	font-family: "Lucida Grande", Tahoma Bold, Tahoma, Arial, Helvetica,
		sans-serif;
}

.gridContainer .ui-widget-content {
	border-color: #DDDDDD;
}

.gridContainer .noRecordsBox {
	margin-top: 10px;
	text-align: center;
}

.gridContainer .gridLink {
	color: #005ec5;
	font-size: 11px;
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.gridContainer .inactive .gridLink, .gridContainer .gridLink .inactive
	{
	color: #4B6582;
	font-style: italic;
}


.gridContainer .gridLink:hover {
	text-decoration: underline;
	cursor: pointer;
}

.componentNotEditable .gridLink,.componentNotEditable .gridLink:hover,.componentNotEditable .ui-widget-content
	{
	color: #999999;
	text-decoration: none;
	cursor: default;
}

.gridContainer .lightRow {
	background: #ffffff;
}

.gridContainer .darkRow {
	background: #f5f5f5;
}

.gridContainer .lightRow.lastAdded,.gridContainer .darkRow.lastAdded {
	background: #BFF589;
	border-color: #8BD73E;
}

.gridContainer .lightRow.lastAdded.ui-state-hover,.gridContainer .darkRow.lastAdded.ui-state-hover
	{
	background: #91E735;
}

.gridContainer .lightRow.ui-state-hover {
	background: #dcdcdc;
}

.gridContainer .darkRow.ui-state-hover {
	background: #dcdcdc;
}

.gridContainer .lightRow.ui-state-highlight,.gridContainer .darkRow.ui-state-highlight,.gridContainer .lightRow.lastAdded.ui-state-highlight,.gridContainer .darkRow.lastAdded.ui-state-highlight
	{
	background: #ffdb67;
	border-color: #dba700;
}

.multiselectMode .gridContainer .lightRow.ui-state-highlight,.multiselectMode .gridContainer .darkRow.ui-state-highlight,.multiselectMode .gridContainer .lightRow.lastAdded.ui-state-highlight,.multiselectMode .gridContainer .darkRow.lastAdded.ui-state-highlight
	{
	background: #FDEDA2;
	border-color: #E2D59A;
}

.gridContainer .lightRow.ui-state-highlight.ui-state-hover,.gridContainer .darkRow.ui-state-highlight.ui-state-hover,.gridContainer .lightRow.lastAdded.ui-state-highlight.ui-state-hover,.gridContainer .darkRow.lastAdded.ui-state-highlight.ui-state-hover
	{
	background: #F8C426;
}

.multiselectMode .gridContainer .lightRow.ui-state-highlight.ui-state-hover,.multiselectMode .gridContainer .darkRow.ui-state-highlight.ui-state-hover,.multiselectMode .gridContainer .lightRow.lastAdded.ui-state-highlight.ui-state-hover,.multiselectMode .gridContainer .darkRow.lastAdded.ui-state-highlight.ui-state-hover
	{
	background: #EBD77D;
}

.gridContainer .ui-grid-ico-sort {
	display: none;
}

.gridContainer .ui-jqgrid-sortable {
	
}

.gridContainer .ui-jqgrid-sortable .sortArrow.ui-jqgrid-sortable {
	width: 16px;
	height: 16px;
	display: none;
	background: transparent
		url('/qcadooView/public/css/crud/images/grid/sortArrows.png')
		no-repeat 0 -16px;
	vertical-align: top;
	margin-left: 5px;
}

.gridContainer .sortColumn .ui-jqgrid-sortable .sortArrow.ui-jqgrid-sortable.upArrow
	{
	display: inline-block;
	background-position: 0 0;
}

.gridContainer .sortColumn .ui-jqgrid-sortable .sortArrow.ui-jqgrid-sortable.downArrow
	{
	display: inline-block;
	background-position: 0 -16px;
}

.gridContainer .ui-jqgrid-labels {
	height: 30px;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.gridContainer .ui-th-column,.gridContainer .ui-jqgrid-hdiv {
	background: transparent
		url('/qcadooView/public/css/crud/images/grid/gradientygrid/gradient_header.png')
		repeat-x 0 0;
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #e8e8e8;
	font-weight: normal;
}

.gridContainer .ui-jqgrid-labels .ui-th-column {
	margin: 0;
	padding: 0;
}

.gridContainer .ui-th-ltr {
	margin: 0;
	padding: 0;
}

.gridContainer .ui-th-column:hover {
	border-color: #bbbbbb;
}

.gridContainer .ui-jqgrid .ui-jqgrid-sortable {
	cursor: default;
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td {
	cursor: default;
}

.gridContainer .ui-jqgrid .ui-th-column.sortableColumn,.gridContainer .ui-jqgrid .ui-th-column.sortableColumn .ui-jqgrid-sortable
	{
	cursor: pointer;
	text-overflow: ellipsis;
}

.gridContainer .ui-th-column.sortableColumn:hover {
	background: #808080;
}

.gridContainer .ui-th-column.sortColumn {
	background: #454545;
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
}

.gridContainer .ui-th-column.sortColumn:hover {
	background: #323232;
}

.gridContainer .ui-search-toolbar {
	border-color: #555555;
}

.gridContainer .ui-search-toolbar th:hover {
	
}

.gridContainer .inactive,.gridContainer .inactive a,.gridContainer .inactive a:hover
	{
	color: #8A8A8A;
	font-style: italic;
}

.gridContainer .redBg,
.gridContainer .redBg.lastAdded {
	background: #FFDBD9;
	border-color: #E3B1AF;
}

.gridContainer .ui-state-highlight.redBg,
.gridContainer .ui-state-highlight.redBg.lastAdded {
	background: #FFBDBA !important;
	border-color: #D19592 !important;
}

.gridContainer .ui-state-hover.redBg,
.gridContainer .ui-state-hover.redBg.lastAdded {
	background: #D4B1B0;
	border-color: #D19592;
}

.gridContainer .ui-state-highlight.ui-state-hover.redBg,
.gridContainer .ui-state-highlight.ui-state-hover.redBg.lastAdded {
	background: #D9A3A0 !important;
}

.gridContainer .yellowBg,
.gridContainer .yellowBg.lastAdded {
	background: #FFFFCC;
	border-color: #BFBF8C;
}

.gridContainer .ui-state-highlight.yellowBg,
.gridContainer .ui-state-highlight.yellowBg.lastAdded {
	background: #FFFFA3 !important;
	border-color: #A6A635 !important;
}

.gridContainer .ui-state-hover.yellowBg,
.gridContainer .ui-state-hover.yellowBg.lastAdded {
	background: #FFFFAA;
	border-color: #A6A635;
}

.gridContainer .ui-state-highlight.ui-state-hover.yellowBg,
.gridContainer .ui-state-highlight.ui-state-hover.yellowBg.lastAdded {
	background: #BFBF8C !important;
}

.gridContainer .brownBg,
.gridContainer .brownBg.lastAdded {
	background: #E4D5C5;
	border-color: #988A7B;
}

.gridContainer .ui-state-highlight.brownBg,
.gridContainer .ui-state-highlight.brownBg.lastAdded {
	background: #CAB197 !important;
	border-color: #835B31 !important;
}

.gridContainer .ui-state-hover.brownBg, 
.gridContainer .ui-state-hover.brownBg.lastAdded {
	background: #E4CFB9;
	border-color: #835B31;
}

.gridContainer .ui-state-highlight.ui-state-hover.brownBg,
.gridContainer .ui-state-highlight.ui-state-hover.brownBg.lastAdded {
	background: #988A7B !important;
}

.gridContainer .blueBg,
.gridContainer .blueBg.lastAdded {
	background: #CCEEFF;
	border-color: #8CAEBF;
}

.gridContainer .ui-state-highlight.blueBg,
.gridContainer .ui-state-highlight.blueBg.lastAdded {
	background: #A3E1FF !important;
	border-color: #3581A6 !important;
}

.gridContainer .ui-state-hover.blueBg,
.gridContainer .ui-state-hover.blueBg.lastAdded {
	background: #BAE8FF;
	border-color: #3581A6;
}

.gridContainer .ui-state-highlight.ui-state-hover.blueBg,
.gridContainer .ui-state-highlight.ui-state-hover.blueBg.lastAdded {
	background: #8CAEBF !important;
}

.gridContainer .greenBg,
.gridContainer .greenBg.lastAdded {
	background: #D1F5D1;
	border-color: #8DB08D;
}

.gridContainer .ui-state-highlight.greenBg,
.gridContainer .ui-state-highlight.greenBg.lastAdded {
	background: #ADEBAD !important;
	border-color: #389938 !important;
}

.gridContainer .ui-state-hover.greenBg,
.gridContainer .ui-state-hover.greenBg.lastAdded {
	background: #C5F5C5;
	border-color: #389938;
}

.gridContainer .ui-state-highlight.ui-state-hover.greenBg,
.gridContainer .ui-state-highlight.ui-state-hover.greenBg.lastAdded {
	background: #8DB08D !important;
}

.gridContainer .ui-jqgrid tr.jqgrow.boldFont td {
	font-weight: bold;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background:
		url(/qcadooView/public/css/crud/images/grid/gradientygrid/gradient_header.png)
		50% 50% repeat-x;
	color: #ffffff;
	padding: .3em .2em !important;
}

.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}

.ui-jqgrid tr.footrow td {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    height: 21px;
    padding: 0 0px 0 0px;
    border-top-width: 1px;
    border-top-color: inherit;
    border-top-style: solid;
}

.ColTable td {
    float: left;
}

.wrap-date {
	white-space: normal;
	text-align: center;
	display: block;
}

.green-cell {
	background-color: limegreen;
	display: block;
	margin-right: -2px;
	margin-left: -2px;
	padding-right: 2px;
	padding-left: 2px;
	margin-top: -7px;
	margin-bottom: -7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.red-cell {
	background-color: red;
	display: block;
	margin-right: -2px;
	margin-left: -2px;
	padding-right: 2px;
	padding-left: 2px;
	margin-top: -7px;
	margin-bottom: -7px;
	padding-top: 7px;
	padding-bottom: 7px;
}


.yellow-cell {
	background-color: #ecec42;
	display: block;
	margin-right: -2px;
	margin-left: -2px;
	padding-right: 2px;
	padding-left: 2px;
	margin-top: -7px;
	margin-bottom: -7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.gridContainer .greenFontColor {
	color: #68bb25;
}

.gridContainer .orangeFontColor {
	color: #FFA319;
}
